In [1]:
import pandas as pd

Create A Series Object from A Python List

In [2]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry', 'Rum Raisin']

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registration = [True, False, False, False, True]

pd.Series(registration)

0     True
1    False
2    False
3    False
4     True
dtype: bool

Create A Series Object from a Dictionary

In [5]:
webster = {'Arstrad' : 'An animal',
          'Banana' : 'A delicious fruit',
          'cUcu': 'A color'}

pd.Series(webster)

Arstrad            An animal
Banana     A delicious fruit
cUcu                 A color
dtype: object