In [2]:
import pandas as pd

Create A Series Object from A Python List

In [2]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry', 'Rum Raisin']

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registration = [True, False, False, False, True]

pd.Series(registration)

0     True
1    False
2    False
3    False
4     True
dtype: bool

Create A Series Object from a Dictionary

In [5]:
webster = {'Arstrad' : 'An animal',
          'Banana' : 'A delicious fruit',
          'cUcu': 'A color'}

pd.Series(webster)

Arstrad            An animal
Banana     A delicious fruit
cUcu                 A color
dtype: object

Intro to Attributes

In [12]:
about_me = ['Smart', 'Intelligent', 'Humble']

s = pd.Series(about_me)
s

0          Smart
1    Intelligent
2         Humble
dtype: object

In [11]:
s.values

array(['Smart', 'Intelligent', 'Humble'], dtype=object)

In [13]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
s.dtype

dtype('O')

Intro to Methods

In [19]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [20]:
s.sum()

8.8

In [21]:
s.product()

18.095480000000006

In [22]:
s.mean()

2.9333333333333336

Parametrs and Arguments

In [27]:
fruits = ['Apple', 'Orange', 'Bluberry']
weekday = ['Monday', 'Trursday', 'Wednesday']

pd.Series(fruits, weekday)

# this is very common
pd.Series(fruits, index = weekday)

Monday          Apple
Trursday       Orange
Wednesday    Bluberry
dtype: object

In [28]:
fruits = ['Apple', 'Orange', 'Watermelon']
weekday = ['Monday', 'Trursday', 'Thursday']

pd.Series(data = fruits, index = weekday)

Monday           Apple
Trursday        Orange
Thursday    Watermelon
dtype: object

----------------------------------------------------

Import Series with the read_csv Method

In [6]:
pokemon = pd.read_csv('pokemon.csv', usecols= ['Pokemon'], squeeze = True)

In [7]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [8]:
pd.read_csv('google_stock_price.csv')

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]